# Postgres
POSTGRES_USER=forex
POSTGRES_PASSWORD=forexpass
POSTGRES_DB=forexdb
POSTGRES_PORT=5432

# Django
DJANGO_SECRET_KEY=changeme
DJANGO_DEBUG=1
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=forexdb
DATABASE_USER=forex
DATABASE_PASSWORD=forexpass

# Fetcher/provider - yfinance

# Other
TIMEZONE=UTC
